RewriteEngine On

# Allow direct access to existing files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Handle static assets
RewriteRule ^(images|css|js|assets)/(.*)$ public/$1/$2 [L]

# Ensure HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Skip language redirect for assets and existing files/directories
RewriteCond %{REQUEST_URI} !^/assets/
RewriteCond %{REQUEST_URI} !^/images/
RewriteCond %{REQUEST_URI} !^/css/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Skip rewrite for API calls
RewriteCond %{REQUEST_URI} !^/api/

# Handle Front Controller
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Prevent direct access to .php files except index.php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteCond %{REQUEST_URI} !^/index\.php
RewriteRule ^ - [F]

# Set default charset and language headers
AddDefaultCharset UTF-8
AddLanguage sk .sk
AddLanguage en .en
AddLanguage cs .cs

# Enable CORS
Header set Access-Control-Allow-Origin "*"

# Security headers
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
